/* SOME CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px; /*this is for accessibility for dyslexic people*/
  font-family: sans-serif;
}

:root {
  --color-base: #f5f5f5;
  --color-highlight: #e7717d;
  --color-dark: #7e685a;
  --color-black: #000000;
  --color-white: #ffffff;
  --width-sm: 20rem;
  --width-md: 40rem;
  --width-lg: 60rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-base);
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.grid {
  display: grid;
  grid-template-columns: minmax(var(--width-sm, --width-lg));
  gap: 1rem;
}

.justified {
  text-align: justify;
}

.stack-s > * + * {
  margin-top: 0.5rem;
}

.stack-m > * + * {
  margin-top: 1.5rem;
}

.stack-l > * + * {
  margin-top: 2.5rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-l {
  gap: 2rem;
}

.border {
  /*temporary class to help me work -- to delete later*/
  border: 2px solid black;
}

/* ********************* */
/* navigation */
nav img {
  width: 14rem;
  height: 12rem;
}

nav ul {
  list-style: none;
}

nav ul a {
  color: var(--color-black);
}

/* ************************** */
/*section class and different section flags*/
.section {
  height: 100vh;
}

.section--bio {
  /* height:100vh; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

/**Bio Section**/
.bio-box {
  height: 40%;
  max-width: var(--width-md);
  position: relative;
}

.bio-box__info {
  background-color: var(--color-base);
  height: 20%;
  padding: 5%;
}

.bio-box__title {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
}

.bio-box__button {
  padding: 0.2em;
  border: none;
  background-color: var(--color-base);
  color: var(--color-dark);
  font-weight: bold;
  cursor: pointer;
}

.bio-box__button:hover {
  color: var(--color-highlight);
}

.bio-box__description {
  display: none;
  position: absolute;
  width: 90%;
  height: 70%;
  padding: 0.8em;
  border-radius: 15px;
  top: 5%;
  left: 5%;
  background-color: var(--color-highlight);
}

.bio-box__info--active > .bio-box__description {
  display: block;
}

.bio-box__body {
  height: 80%;
}

.bio-box__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/** media queries for larger screen sizes **/

/*small tablets*/
@media screen and (min-width: 620px) {
  .row {
    flex-flow: row nowrap;
    justify-items: space-between;
  }
}

/*large tablets and laptops*/
@media screen and (min-width: 920px) {
}
